<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Tests" verbose="5" data-provider-thread-count="1"> 

	<test name="Blog">
		<parameter name="path" value="/"/>
		<classes>		    			    
		    <class name="blog.Captcha_empty"/>
		    <class name="blog.Captcha_disable"/>
		    <class name="blog.Comment"/>
		     <class name="blog.Captche_enable"/>
		    <class name="blog.Details_page"/>
			<class name="blog.Blog_page"/>	
			<class name="blog.Search"/>						
		</classes>
	</test>  
</suite>